*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: url('/assets/cursor-64.png') 8 6, auto;
}

* {
  cursor: url('/assets/cursor-64.png') 8 6, auto;
}

img, canvas, svg {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}
